//var color
@import "gridSass"

$blanco: #ffffff;
$gris1: #e3e2e2;
$gris2: #b9b8b7;
$gris3: #8f8e8c;
$gris4: #c7c5c2;
$gris5: #4b4948;
$gris6: #2f2e2d;
$primary1: #ffce32;
$primary2: #f9a519;
$primary3: #f09000;
$secondary1: #46c9ec;
$secondary2: #01b5e6;
$secondary3: #0184a8;
$tranparencia1: #b9b8b7
$transparencia2: #2f2e2d 85%;
$peligro: #eb5757;
$valido: #27ae60;
//var fuente
.esCabecera1
    font-family: 'Catamaran',sans-serif
    font-size: 48px 
    color: $blanco
    line-height: 56px
.esCabecera2
    font-size: 39px
    font-family: 'Catamaran', sans-serif
    line-height: 47px

.esCabecera3
    font-family: 'Catamaran',sans-serif
    font-size: 31px
    color: $blanco
    font-weight: bold 
    line-height: 40px
h3 
        padding: 0px
        margin: 0px
h4 
        padding: 0px
        margin: 0px
.esCabecera4
    font-family: 'Catamaran', sans-serif
    font-size: 25px
    line-height: 32px
.movCabecera2
    font-family: 'Catamaran', medium, 29px
.movCabecera3
    font-family: 'Catamaran', medium, 26px
.movCabecera4
    font-family: 'Catamaran', medium, 21px
.movLargBold
    font-family: 'Catamaran', medium, 20px
.txtLarge
    font-family: 'Catamaran'
    font-size: 20px
    font-style: bold
    line-height: 28px
    padding: 0px
    margin: 0px
    color: $gris6
.txt
    font-family: 'Catamaran'
    font-size: 16px
    color: $gris5
.txtSmalBold
    font-family: 'Catamaran'
    font-size: 13px
    font-style: bold
    margin: 0em
    color: $gris6
.txtSmal
    font-family: 'Catamaran'
    font-size: 13px
    color: $blanco
    margin: 0em
/*stylos y colaciongeneral*/
header
    display: flex
    height: 2em
    padding-bottom: 1em
header
    padding: 1em
    margin: 0ps
    img
        max-height: 100%
.containerH
    width: 100%
    height: 400px
    box-sizing: border-box
    background-image: url("img/jumbo.jpg")
    background-size: cover
    background-repeat: no-repeat
    text-align: center
    display: flex
.cjaGris
    text-align: left
    box-sizing: border-box
    width: 50%
    height: 100%
    background: rgba($gris6, 0.8)
    display: flex
    justify-content: center
    flex-direction: column
.cajaGrisInner
    padding: 2em
.cajaijo
    display: flex
    justify-content: space-around
    margin-top: 2em
.hbaner
    text-align: center
    //margin: 1.5em auto
/* grid mio*/
.movil
    text-align: center   
.columnas
    display: flex
    flex-wrap: no-wrap
    justify-content: space-between
    box-sizing: border-box
    margin: 1em 0.5em
    overflow: hidden
.columna
    text-align: center
    width: 32%
.bolita
    display: flex
    width: 3em
    height: 3em
    justify-content: center
    align-items: center
    background-image: linear-gradient($primary1, $primary3)
    border-radius: 50%
    margin: 0 auto
/*  FORMIULARIO*/
label
    p 
        margin-bottom: 0.6em
.formulario
    border: .1em solid $gris1
    padding: 1.8em
    width: 40%
    text-align: left
    border-radius: .3em
.formulario 
    *
        margin-bottom: 1em
form
    height: 90%
    display: flex
    flex-direction: column
    justify-content: space-around
input[type="submit"]
    padding: 1em 1.5em
    background-color: $primary2
    border-style: none
    border-radius: .3em
    color: $blanco
    /*esto no puto va*/
    
input[type="text"],
input[type="email"],
select
    box-sizing: border-box
    padding: 1em
    border-radius: .4em
    width: 100%
    
::placeholder
    color: $gris2
    font-family: 'Catamaran'
select
   background-color: $blanco
/*seccion comentarios cajaFlex para separacion
    vertical*/
section 
    padding: 1.5em
.cFlex
    display: flex
    flex-wrap: no-wrap
    justify-content: space-between
    flex-direction: column
    height: 8em
.persona
    text-align: left
    height: 3em
.comentario
    text-align: left
    box-sizing: border-box
    border: .1em solid $gris1
    padding: 1em
    text-align: left
    border-radius: .3em
    p   
        margin: 0em
footer
    padding: .4em
    background-color: $gris5
    text-align: center
    img 
        max-width: 90%
        height: auto
.cora
    color: $peligro
/****************
    Responsive
        may B
    */
.mapa
    width: 100%
    height: 14em
@media all and (max-width: 967px)/*me lo he inventado*/
    .cajaGrisInner
        padding: 0.75em
    .hbaner
        text-align: left
    .containerH
        height: 20em
    .cjaGris
        width: 100%
        height: 20em
    .cajaijo
        width: 100%
        justify-content: space-between
    .boton1,
    .boton2
        width: 40%
        text-align: center
        img 
            width: 90%
    .columnas
        display: flex
        flex-direction: column
    .columna
        width: 100%
    .bolita
        margin: 0em
        float: left
    .trukiBolita
        overflow: hidden
    .esCabecera4 
        margin: 0 auto
        overflow: hidden
    .movil
        display: none